.title {
	border-radius: 5px;
	/*transform: rotate(-3deg);*/
	margin: 0 5px;
}

.title button {
	font-weight: 500;
	color: #262e33;
	font-size: 11px;
	text-align: left;
	display: inline-block;
	text-decoration: none;
	padding: 15px;
	cursor: pointer;
	font-family: cursive;
	display: inline-block;
	font-family: cursive;
	color: #40A4C8;
	font-weight: bold;
	line-height: 2;
	text-transform: capitalize;
}

.title.active,
.title:active {
	background: #40A4C8;
}

.title.active button,
.title:active button {
	color: #fff;

}

@media (min-width: 600px) {
	.title button {
		font-size: 13px;
		padding: 15px;
		margin: 0 10px;
	}
	.title.active,
	.title:active {
		background: #40A4C8;
	}

}

