.titleMenu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}

.container {
	
}

.title {
	padding: 15px;
	cursor: pointer;
	font-family: cursive;
	border-radius: 5px;
}

.titleLink {
	font-weight: 500;
	color: #262e33;
	font-size: 11px;
	transform: rotate(-3deg);
	text-align: left;
	display: inline-block;
}

.title:hover {
	background: #40A4C8;

}

.title:hover .titleLink {
	color: #fff;

}

@media (min-width: 600px) {
	.titleMenu {
		margin-top: 40px;
		flex-direction: column;
		flex-wrap: wrap;
		height: 100%;
	}
	.title {
		padding: 20px 10px 20px 29px;
	}
	.titleLink {
		font-size: 13px;
	}
}

