.titleMenu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 25px auto 0;
}

@media (min-width: 600px) {
	.titleMenu {
		/*margin-top: 47px;*/
		/*margin-left: 2vw;*/
		/*flex-direction: column;*/
		/*flex-wrap: wrap;*/
		/*height: 100%;*/
		margin: 25px -5px 0;
	}

}

