.textarea {
	width: 100%;
	border: 1px #703b09 solid;
	border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	font-size: 15px;
	padding: 20px;
	font-weight: 400;
	line-height: 1.5;
}

.textarea:focus {
	border: 1px #81D4FA solid;
	outline: transparent;
}

.wrap {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 30px auto 0;
	flex-direction: column;
}

.form {
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
	text-transform: capitalize;
	margin: -40px 0 15px 0;
	font-family: cursive;
	color: #40A4C8;
}

/*.saveBtn {*/
/*	border-radius: 5px;*/
/*	text-transform: uppercase;*/
/*	padding: 5px 20px;*/
/*    margin: 20px;*/
/*    border-radius: 5px;*/
/*	cursor: pointer;*/
/*	color: #5C9210;*/
/*	border: 2px solid #5C9210;*/
/*	transition: all .3s;*/
/*}*/

/*.saveBtn {*/
/*	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M484.128,104.478l-16.116-16.116c-5.064-5.068-11.816-7.856-19.024-7.856c-7.208,0-13.964,2.788-19.028,7.856 L203.508,314.81L62.024,173.322c-5.064-5.06-11.82-7.852-19.028-7.852c-7.204,0-13.956,2.792-19.024,7.852l-16.12,16.112 C2.784,194.51,0,201.27,0,208.47c0,7.204,2.784,13.96,7.852,19.028l159.744,159.736c0.212,0.3,0.436,0.58,0.696,0.836 l16.12,15.852c5.064,5.048,11.82,7.572,19.084,7.572h0.084c7.212,0,13.968-2.524,19.024-7.572l16.124-15.992 c0.26-0.256,0.48-0.468,0.612-0.684l244.784-244.76C494.624,132.01,494.624,114.966,484.128,104.478z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");	background-size: 21px;*/
/*	background-size: 21px;*/
/*	font-size: 16px;*/
/*	padding: 2px 0 5px 25px;*/
/*	cursor: pointer;*/
/*	border-radius: 5px;*/
/*	margin: 20px 0 20px 46px;*/
/*	transition: all .4s;*/
/*	text-decoration: underline;*/
/*	background-repeat: no-repeat;*/
/*	align-self: flex-start;*/
/*}*/

@media(min-width: 600px) {
	.textarea {
		width: 100%;
	}
	.wrap {
		width: 100%;
	}
}