/*Modal alert*/

.buttonModal {
	padding: 5px 20px;
	cursor: pointer;
	border-radius: 5px;
	text-transform: uppercase;
	margin: 0 10px;
	transition: all .4s;
}

.cancel {
	color: red;
	border: 2px solid red;
}

.cancel:hover {
	color: #fff;
	border: 2px solid red;
	background: red;
}

.modal {
	display: flex;
	justify-content: center;
	padding-top: 15px;
}

.removePost {
	color: #e65100bf;
	border: 2px solid #e65100bf;
}

.removePost:hover {
	color: #fff;
	border: 2px solid #e65100bf;
	background: #e65100bf;
}