.vertical {
	position: absolute;
	background-color: #DFDAD7;
	width: .7em;
	height: 2.4em;
	top: 1.90em;
	left: 2.75em;
	transition: all .5s;
}

.gorizontal {
	position: absolute;
	background-color: #DFDAD7;
	width: 2.4em;
	height: .7em;
	top: 2.75em;
	left: 1.90em;
	transition: all .5s;
}

.plus {
	width: 100px;
	height: 100px;
	position: relative;
	margin-top: -100px;
	cursor: pointer;
}

.plus:hover div {
	background-color: #b7b3b0;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}