.wrapper {
	position: relative;
    width: 95%;
    max-width: 630px;
    margin: 55px auto;
    box-sizing: border-box;
}

.post {
	padding: 0 15px;
}

.name {
	font-size: 16px;
	font-family: cursive;
	color: #40A4C8;
	font-weight: bold;
	line-height: 2;
	text-transform: capitalize;
}
.content {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.3;
	overflow-wrap: break-word;
}

.container {
	margin: 10px 0;
	white-space: pre-wrap;
}

.dateWrap {
	margin-bottom: 20px;
}

.date {
	font-size: 20px;
	color: #fbb03b;
	font-weight: bold;
	margin-bottom: 5px;
}

.day {
	font-size: 35px;
}


.editPost {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M501.524,73.158l-62.766-62.702c-13.943-13.929-36.621-13.919-50.554,0.02L52.631,346.202 c-10.486,10.476-18.494,23.446-23.157,37.511l-0.299,0.902L0,511.984l127.485-29.119l0.9-0.298 c14.076-4.655,27.058-12.651,37.556-23.136l335.605-335.757c6.746-6.75,10.459-15.722,10.455-25.263 C511.996,88.872,508.276,79.903,501.524,73.158z M53.208,458.809l11.916-52.024l40.168,40.127L53.208,458.809z M141.879,426.935 l-56.742-56.684L362.519,92.743l56.742,56.684L141.879,426.935z M447.533,121.143L390.79,64.459l22.703-22.713l56.743,56.684 L447.533,121.143z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	color: #262e33;
	background-position: 0px 0px;
	background-size: 21px;
	font-size: 16px;
	padding: 5px 0 5px 25px;
	cursor: pointer;
	border-radius: 5px;
	margin: -10px 0 25px 0;
	transition: all .4s;
	text-decoration: underline;
}

.cover {
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
	.read {
		padding: 25px 15px;
		background: #f0f8ff;
		border-radius: 10px;
	}
	.editPost {
		margin: -10px 0 25px 15px;
	}
	.wrapper {
		margin: 70px auto;
	}
}





